.header {
  background: radial-gradient(circle, rgb(1, 1, 1) 27%, rgb(22, 2, 24) 82%, rgb(9, 30, 81) 100%);
  opacity: 0.95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  position: relative;
}
.header-logo {
  position: relative;
  height: 100%;
}
.header-logo .line-effect {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#b2156b), color-stop(#0cc2ff), color-stop(#b2156b), to(transparent));
  background: linear-gradient(to right, transparent, #b2156b, #0cc2ff, #b2156b, transparent);
  -webkit-box-shadow: 0 0 10px #0cc2ff, 0 0 20px #b2156b;
          box-shadow: 0 0 10px #0cc2ff, 0 0 20px #b2156b;
  -webkit-clip-path: polygon(0% 50%, 5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%);
          clip-path: polygon(0% 50%, 5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%);
  z-index: 9999;
}