:root {
  --header-bg-color-1: rgba(1, 1, 1, 1) 27%;
  --header-bg-color-2: rgba(22, 2, 24, 1) 82%;
  --header-bg-color-3: rgba(9, 30, 81, 1) 100%;
  --line-effect-color-1: #0cc2ff;
  --line-effect-color-2: #b2156b;
  --header-bg-color-4: hsla(197, 14%, 57%, 1) 0%;
  --header-bg-color-5: hsla(192, 17%, 94%, 1) 100%;
  --header-bg-color-6: rgba(229, 34, 141, 1) 100%;
  --line-effect-color-3: #1a1606;
  --line-effect-color-4: #0cc2ff;
}

.header {
  width: 100%;
  position: relative;
}
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.dark-head {
  background: radial-gradient(circle, var(--header-bg-color-1) 27%, var(--header-bg-color-2) 82%, var(--header-bg-color-3) 100%);
}
.header.light-head {
  background: linear-gradient(90deg, var(--header-bg-color-4), var(--header-bg-color-5));
}
.header-logo {
  position: relative;
  height: 100%;
}
.header-logo .line-effect {
  @apply h-0.5 w-2/3 md:w-3/4 lg:w-5/6;
  position: absolute;
  top: 80%;
  left: 0;
  clip-path: polygon(0% 50%, 5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%);
  z-index: 9999;
}
.header-logo .line-effect.dark-line {
  background: linear-gradient(to right, transparent, var(--line-effect-color-1), var(--line-effect-color-2), var(--line-effect-color-1), transparent);
  box-shadow: 0 0 10px #0cc2ff, 0 0 20px #b2156b;
}
.header-logo .line-effect.light-line {
  background: linear-gradient(to right, transparent, var(--line-effect-color-3), var(--line-effect-color-4), var(--line-effect-color-3), transparent);
  box-shadow: 0 0 10px #1a1606, 0 0 20px #0cc2ff;
}
