@import 'globals';
//dark theme
$first-color-dark: #0cc2ff;
$second-color-dark: #b2156b;
//light theme
$first-color-light: #1a1606;
$second-color-light: #0cc2ff;
:root {
  //Dark theme
  --header-bg-color-1: rgba(1, 1, 1, 1) 27%;
  --header-bg-color-2: rgba(22, 2, 24, 1) 82%;
  --header-bg-color-3: rgba(9, 30, 81, 1) 100%;
  --line-effect-color-1: #{$first-color-dark};
  --line-effect-color-2: #{$second-color-dark};
  //Light theme
  --header-bg-color-4: hsla(197, 14%, 57%, 1) 0%;
  --header-bg-color-5: hsla(192, 17%, 94%, 1) 100%;
  --header-bg-color-6: rgba(229, 34, 141, 1) 100%;
  --line-effect-color-3: #{$first-color-light};
  --line-effect-color-4: #{$second-color-light};
}

.header {
  width: 100%;
  position: relative;

  &-wrapper {
    @include layout-arrange;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  //Dark theme
  &.dark-head {
    background: radial-gradient(
      circle,
      var(--header-bg-color-1) 27%,
      var(--header-bg-color-2) 82%,
      var(--header-bg-color-3) 100%
    );
  }
  //Light theme
  &.light-head {
    background: linear-gradient(
      90deg,
      var(--header-bg-color-4),
      var(--header-bg-color-5)
    );
  }
  &-logo {
    position: relative;
    height: 100%;
    .line-effect {
      position: absolute;
      top: 90%;
      left: 0;
      width: 100%;
      height: 2px;
      clip-path: polygon(0% 50%, 5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%);
      z-index: 9999;

      &.dark-line {
        background: linear-gradient(
          to right,
          transparent,
          var(--line-effect-color-1),
          var(--line-effect-color-2),
          var(--line-effect-color-1),
          transparent
        );
        box-shadow:
          0 0 10px $first-color-dark,
          0 0 20px $second-color-dark;
      }
      &.light-line {
        background: linear-gradient(
          to right,
          transparent,
          var(--line-effect-color-3),
          var(--line-effect-color-4),
          var(--line-effect-color-3),
          transparent
        );
        box-shadow:
          0 0 10px $first-color-light,
          0 0 20px $second-color-light;
      }
    }
  }
}
