@import 'variables.scss';
.navbar {
  background-color: $navbar-background;
  border: 0.5px solid $navbar-border;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 5px $navbar-background;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    display: flex;
    align-items: center;
  }
  &-links {
    display: flex;
    gap: 1.5rem;
  }
  &-submenu {
    position: relative;
    cursor: pointer;
    &-item {
      background: gray;
      // background: black;
      position: absolute;
      top: 2.7rem;
      z-index: 9999;
      display: grid;
      width: 24rem;
      // height: 1.25rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
