@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --gradient-color-1-dark: #9ecdf4;
  --gradient-color-2-dark: #00a7df;
  --gradient-color-3-dark: #e01082;
  --gradient-color-4-dark: #e5db22;
  --gradient-color-5-dark: #e5228d;
  --emerald--500: #00af87;
  --emerald--600: #00875f;
  --gradient-color-1-light: #090f14;
  --gradient-color-2-light: #14252b;
  --gradient-color-3-light: #0cc2ff;
  --gradient-color-4-light: #d0187d;
  --gradient-color-5-light: #030a1b;
}

.layout-arrange {
  @apply mx-auto max-w-7xl px-1 min-[425px]:px-1.5 sm:px-2 md:px-2.5;
}

body {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body.dark-mode {
  background-color: #030a1b;
  color: #ebfaff;
  --gradient-color-1: var(--gradient-color-1-dark);
  --gradient-color-2: var(--gradient-color-2-dark);
  --gradient-color-3: var(--gradient-color-3-dark);
  --gradient-color-4: var(--gradient-color-4-dark);
  --gradient-color-5: var(--gradient-color-5-dark);
  --emerald-500: var(--emerald--500);
  --emerald-600: var(--emerald-600);
}
body.light-mode {
  background-color: #ebfaff;
  color: #030a1b;
  --gradient-color-1: var(--gradient-color-1-light);
  --gradient-color-2: var(--gradient-color-2-light);
  --gradient-color-3: var(--gradient-color-3-light);
  --gradient-color-4: var(--gradient-color-4-light);
  --gradient-color-5: var(--gradient-color-5-light);
}

.navbar {
  top: 5px;
  position: sticky;
  top: 0;
  background-color: rgba(26, 32, 44, 0.8);
  border: 0.5px solid #1f81cf;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 5px rgba(26, 32, 44, 0.8);
  z-index: 1000;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.navbar-left {
  cursor: pointer;
}
.navbar-links {
  display: flex;
  gap: 1.5rem;
}
.navbar-submenu {
  position: absolute;
  left: 0%;
  top: calc(100% + 1.4rem);
}
.navbar-submenu-item {
  overflow: hidden;
  background: rgba(26, 32, 44, 0.8);
  border-width: 0.5px;
  border-radius: 1rem;
  border-color: #1f81cf;
}
.navbar-submenu-item-subitem {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
}
.navbar .menu-item {
  position: relative; /* Để định vị pseudo-element */
}
.navbar .menu-item::after {
  content: "";
  position: absolute;
  left: 0%; /* Bắt đầu từ giữa */
  bottom: 0; /* Đặt ở dưới cùng */
  width: 0; /* Chiều rộng ban đầu là 0 */
  height: 3px; /* Chiều cao của border */
  background-color: #1f81cf; /* Màu border */
  transition: width 0.3s ease, left 0.3s ease; /* Hiệu ứng chuyển tiếp */
}
.navbar .menu-item:hover::after {
  width: 100%; /* Mở rộng chiều rộng thành 100% */
  left: 0; /* Đặt lại vị trí sang trái */
}

.header {
  width: 100%;
  position: relative;
}
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.dark-head {
  background: radial-gradient(circle, rgb(1, 1, 1) 27%, rgb(22, 2, 24) 82%, rgb(9, 30, 81) 100%);
}
.header.light-head {
  background: linear-gradient(90deg, hsl(197, 14%, 57%) 0%, hsl(192, 17%, 94%) 100%);
}
.header-logo {
  position: relative;
  height: 100%;
}
.header-logo .line-effect {
  @apply h-0.5 w-2/3 md:w-3/4 lg:w-5/6;
  position: absolute;
  top: 80%;
  left: 0;
  clip-path: polygon(0% 50%, 5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%);
}
.header-logo .line-effect.dark-line {
  background: linear-gradient(to right, transparent, #0cc2ff, #b2156b, #0cc2ff, transparent);
  box-shadow: 0 0 10px #0cc2ff, 0 0 20px #b2156b;
}
.header-logo .line-effect.light-line {
  background: linear-gradient(to right, transparent, #1a1606, #0cc2ff, #1a1606, transparent);
  box-shadow: 0 0 10px #1a1606, 0 0 20px #0cc2ff;
}
