@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --gradient-color-1-dark: #9ecdf4;
  --gradient-color-2-dark: #00a7df;
  --gradient-color-3-dark: #e01082;
  --gradient-color-4-dark: #e5db22;
  --gradient-color-5-dark: #e5228d;
  --emerald--500: #00af87;
  --emerald--600: #00875f;
  --gradient-color-1-light: #090f14;
  --gradient-color-2-light: #14252b;
  --gradient-color-3-light: #0cc2ff;
  --gradient-color-4-light: #d0187d;
  --gradient-color-5-light: #030a1b;
}

.layout-arrange {
  @apply mx-auto max-w-7xl px-1 min-[425px]:px-1.5 sm:px-2 md:px-2.5;
}

body {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body.dark-mode {
  background-color: #030a1b;
  color: #ebfaff;
  --gradient-color-1: var(--gradient-color-1-dark);
  --gradient-color-2: var(--gradient-color-2-dark);
  --gradient-color-3: var(--gradient-color-3-dark);
  --gradient-color-4: var(--gradient-color-4-dark);
  --gradient-color-5: var(--gradient-color-5-dark);
  --emerald-500: var(--emerald--500);
  --emerald-600: var(--emerald-600);
}
body.light-mode {
  background-color: #ebfaff;
  color: #030a1b;
  --gradient-color-1: var(--gradient-color-1-light);
  --gradient-color-2: var(--gradient-color-2-light);
  --gradient-color-3: var(--gradient-color-3-light);
  --gradient-color-4: var(--gradient-color-4-light);
  --gradient-color-5: var(--gradient-color-5-light);
}

.navbar {
  border-radius: 9999px;
  padding: 0.375rem;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  box-shadow: 0 0 5px 5px rgba(26, 32, 44, 0.8);
}
.navbar-dark {
  background: rgba(26, 32, 44, 0.8);
  border: 0.5px solid #1f81cf;
}
.navbar-light {
  background: rgba(235, 250, 255, 0.7);
  border: 0.5px solid rgb(235, 250, 255);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar-left {
  cursor: pointer;
}
.navbar-right {
  padding: 1.25rem;
  white-space: nowrap;
}
.navbar-links {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 9999px;
  white-space: nowrap;
  gap: 1rem;
}
.navbar-menuItem {
  position: relative;
  z-index: 10;
  display: block;
}
.navbar-submenu {
  position: absolute;
  top: calc(100% + 1.4rem);
  z-index: 1000;
  width: 45%;
  padding: 0.375rem;
  background: rgba(26, 32, 44, 0.8);
  border: #1f81cf 1px solid;
  border-radius: 20px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  box-shadow: 0 0 5px 5px rgba(26, 32, 44, 0.8);
}
.navbar-submenu-subitem {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
}
.navbar .cursor {
  position: absolute;
  z-index: 0;
  border-radius: 9999px;
  background-color: #65d9ff;
  opacity: 0.3;
  mix-blend-mode: difference;
}

.header {
  width: 100%;
  position: relative;
}
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.dark-head {
  background: radial-gradient(circle, rgb(1, 1, 1) 27%, rgb(22, 2, 24) 82%, rgb(9, 30, 81) 100%);
}
.header.light-head {
  background: linear-gradient(90deg, hsl(197, 14%, 57%) 0%, hsl(192, 17%, 94%) 100%);
}
.header-logo {
  position: relative;
  height: 100%;
}
.header-logo .line-effect {
  @apply h-0.5 w-2/3 md:w-3/4 lg:w-5/6;
  position: absolute;
  top: 80%;
  left: 0;
  clip-path: polygon(0% 50%, 5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%);
}
.header-logo .line-effect.dark-line {
  background: linear-gradient(to right, transparent, #0cc2ff, #b2156b, #0cc2ff, transparent);
  box-shadow: 0 0 10px #0cc2ff, 0 0 20px #b2156b;
}
.header-logo .line-effect.light-line {
  background: linear-gradient(to right, transparent, #1a1606, #0cc2ff, #1a1606, transparent);
  box-shadow: 0 0 10px #1a1606, 0 0 20px #0cc2ff;
}
