@charset "UTF-8";
.navbar {
  top: 5px;
  position: sticky;
  top: 0;
  background-color: rgba(26, 32, 44, 0.8);
  border: 0.5px solid #1f81cf;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 5px rgba(26, 32, 44, 0.8);
  z-index: 1000;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.navbar-left {
  cursor: pointer;
}
.navbar-links {
  display: flex;
  gap: 1.5rem;
}
.navbar-submenu {
  position: absolute;
  left: 0%;
  top: calc(100% + 1.4rem);
}
.navbar-submenu-item {
  overflow: hidden;
  background: rgba(26, 32, 44, 0.8);
  border-width: 0.5px;
  border-radius: 1rem;
  border-color: #1f81cf;
}
.navbar-submenu-item-subitem {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
}
.navbar .menu-item {
  position: relative; /* Để định vị pseudo-element */
}
.navbar .menu-item::after {
  content: "";
  position: absolute;
  left: 0%; /* Bắt đầu từ giữa */
  bottom: 0; /* Đặt ở dưới cùng */
  width: 0; /* Chiều rộng ban đầu là 0 */
  height: 3px; /* Chiều cao của border */
  background-color: #1f81cf; /* Màu border */
  transition: width 0.3s ease, left 0.3s ease; /* Hiệu ứng chuyển tiếp */
}
.navbar .menu-item:hover::after {
  width: 100%; /* Mở rộng chiều rộng thành 100% */
  left: 0; /* Đặt lại vị trí sang trái */
}
